.button {
    background: $blue;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    outline: none;

    &--login {
        background: $lightbronze;
        border: none;
        color: #fff;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1;
        padding: 1.2rem;
        text-decoration: none;
        outline: none;
        border-radius: 0.4rem;
    }

    &--link {
        background: none;
        transition: color 2s ease;

        &:hover {
            color: $warning;
        }
    }

    &--view {
        background: #d5a981;
        border-radius: 0.4rem;
        transition: background 2s ease;

        &:hover {
            background: #f28b1c;
        }
    }

    &--dark {
        background: #e68f3f; // $filter-grey;
        border-radius: 0.4rem;

        transition: background 2s ease;
        margin: 1rem 4rem;

        &:hover {
            background: darken($primary, 20%);
        }
    }

    &--full {
        width: 100%;
    }

    &--filter {
        background: #d4b69a;
        padding: 0.8rem 1.5rem;
        border-radius: 0.4rem;
        transition: background 3s ease;
        margin: 0.5rem 0;
        color: #002f55;
        font-weight: 600;
        border: 3px double #002f55;
        transition: background 2s ease;

        &:hover {
            background: darken(#d4b69a, 20%);
        }
    }
}