// Varaible for Sidebar 

// spacing
$sidebar-s: 0 4rem;
$sidebar-m: 0 2rem;

// sidebar width
$max-width: 50rem;
$min-width: 30rem;

.sidebar {
  z-index: 10;
  position: fixed;
  top: 0px;
  background: #ffffff;
  max-width: 50rem;
  min-width: 30rem;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #940349;
  overflow-y: scroll;
  transition: display 2s ease;

  &__content {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
  }

  &__divider {
    border: 0.4px solid $primary-theme;
  }

  &__vendor {
    &-title {
      color: #3a3d44;
      font-weight: 800;
      margin: 0 4rem;
      font-size: 18px;
      border-bottom: 1px solid #d1d1d2;
      padding: 1rem 0;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
  }
}


.vendor {
  color: #8c8c8c;
  font-size: 1.8rem;
  margin: 0 4rem;

  &__label {
    padding: $sidebar-m;
  }
}
